-- schema.sql : create tables and sample data

CREATE TABLE IF NOT EXISTS party (
  party_id SERIAL PRIMARY KEY,
  name TEXT NOT NULL,
  type TEXT
);

CREATE TABLE IF NOT EXISTS policy (
  policy_id SERIAL PRIMARY KEY,
  policy_number TEXT UNIQUE NOT NULL,
  party_id INTEGER REFERENCES party(party_id),
  start_date DATE,
  end_date DATE,
  status TEXT
);

CREATE TABLE IF NOT EXISTS fund_unit (
  fund_unit_id SERIAL PRIMARY KEY,
  fund_code TEXT NOT NULL,
  party_id INTEGER REFERENCES party(party_id),
  units DOUBLE PRECISION,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT now()
);

-- Sample data
INSERT INTO party (name,type) VALUES ('Alice Ltd','corporate') ON CONFLICT DO NOTHING;
INSERT INTO party (name,type) VALUES ('Bob Smith','individual') ON CONFLICT DO NOTHING;

INSERT INTO policy (policy_number, party_id, start_date, end_date, status)
 VALUES ('POL-0001',1,'2025-01-01','2026-01-01','ACTIVE') ON CONFLICT DO NOTHING;

INSERT INTO fund_unit (fund_code, party_id, units, updated_at)
 VALUES ('FUND-AAA',1,100.5,'2025-12-05T10:00:00Z'),
        ('FUND-BBB',2,50.25,'2025-12-05T10:00:00Z')
ON CONFLICT DO NOTHING;
